* {
  transition: all ease-in-out .3s;
}

$primary-color: rgb(133, 255, 241);

html {
  body {
    transition: all ease-in-out .3s;
    background: rgb(225, 244, 255);
    font-family: 'Poppins', sans-serif;
  }
}

.border-top-cstm {
  border-radius:25px 25px 0px 0px;
}

.border-btm-cstm {
  border-radius:0px 0px 15px 15px;
}

.shadow-top-cstm {
  box-shadow: 0 0 2px 2px rgba(109, 109, 109, 0.158);
}

.small, small {
  font-size: .775em;
}

.txt-shdw {
  text-shadow: 2px 2px #a3a3a3;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: $primary-color;
}

.btn-group-sm>.btn, .btn-sm {
  padding: 0.2rem 1rem;
  border-radius: 1.2rem;
}

.small-custom {
  font-size: .675em;
}

.bg-base {
  background: $primary-color;
}

.btn-trnsprnt {
  background: rgb(0, 255, 225);
}

.margin-bottom-cstm {
  margin-bottom: 100px;
}

.swiper-pagination {
  position: static;
}

.nav-link {
  p {
    color: rgb(138, 138, 138)!important;
  }
}

.nav-link.active {
  p {
    color: rgb(0, 163, 144)!important;
    font-weight: bold;
  }
}